.content {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0;
    padding: 0rem 5rem 0;
    width: 100%;
    position: relative;
}

.overlay2 {
    animation: animation 5s infinite;
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    min-height: 70vh;
    z-index: 5;
}

@keyframes animation {
    0% {
        background-color: rgba(0, 0, 0, 0.95);
        filter: blur(4em);
    }

    50% {
        background-color: rgba(0, 0, 0, 0.7);
        filter: blur(6em);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.95);
        filter: blur(4em);
    }
}

@media (min-width: 0px) and (max-width: 900px) {

    .content {
        flex-direction: column-reverse;
        gap: 0;
        padding: 0 1rem;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {

    .content {
        padding: 0 3rem;
    }
}