.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo {
    display: flex;
    gap: 4rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;

}

.copyrigth {
    text-align: center;
}

@media (min-width: 0px) and (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 0;
        justify-content: center;

    }

    .logo {
        justify-content: space-around;
        width: 100%;

    }
}